<div class="col-sm-3 col-sm-offset-1 blog-sidebar" style="margin-top: 50px;">
  <!-- <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>李文茂， 菜鸟程序员一枚.<br/>
      驴肉火烧脑残粉 </p>
  </div> -->
  <div class="sidebar-module">
    <div id="menuIndex" class="toc"></div>
  </div>
  <!-- <div class="sidebar-module">
    <h4>Categories</h4>
    <ol class="list-unstyled">
      <li><a href="/app">app</a></li>
      <li><a href="/oc">oc</a></li>
      <li><a href="/shell">shell</a></li>
    </ol>
  </div> -->
</div><!-- /.blog-sidebar -->